/* ============ Geral ============================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-hover: #00453a;
  --primary: #00856f;
  --primary-light-01: #dce9e2;
  --primary-light-02: #f7f9f9;
  --primary-cards: #fffaf1;

  --secondary-headline: #212529;
  --secondary-paragraph: #495057;
  --secondary-white: #ffffff;

  --nav-height: 7.2rem;

  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--primary-light-02);

  font-family: "DM Sans";
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;
}

ul {
  list-style: none;
}

section {
  padding-block: 10rem;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

/* ============ Navigation ============================== */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path {
  fill: var(--secondary-white);
}

nav.scroll .toggle-menu,
nav.scroll .toggle-menu::after,
nav.scroll .toggle-menu::before {
  background: var(--secondary-white);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .button-menu {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.5rem;
}

nav .toggle-menu,
.toggle-menu::before,
.toggle-menu::after {
  background: var(--primary);

  display: block;

  width: 18px;
  height: 2px;

  outline: 1px solid transparent;

  transition-property: background-color, transform;
  transition-duration: 300ms;
}

.toggle-menu {
  position: relative;
  user-select: none;
}

.toggle-menu::before,
.toggle-menu::after {
  position: absolute;
  content: "";
}

.toggle-menu::before {
  top: -0.6rem;
}

.toggle-menu::after {
  top: 0.6rem;
}

/* ============ Menu-Expanded ============================== */
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}

body.menu-expanded nav {
  position: relative;
}

body.menu-expanded .logo,
body.menu-expanded .button-menu,
body.menu-expanded .toggle-menu,
body.menu-expanded .toggle-menu::after,
body.menu-expanded .toggle-menu::before {
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--secondary-white);
}

body.menu-expanded .toggle-menu::after,
body.menu-expanded .toggle-menu::before {
  background: var(--secondary-white);
}

body.menu-expanded .toggle-menu {
  background: transparent;
}

body.menu-expanded .toggle-menu::before {
  transform: translateY(6px) rotate(45deg);
}

body.menu-expanded .toggle-menu::after {
  transform: translateY(-6px) rotate(-45deg);
}

body.menu-expanded .menu {
  background: var(--primary);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
  visibility: visible;

  transition: transform 300ms;
  transform: translateX(0);
}

.menu {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}

.page-links {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
}

.page-links li a {
  color: var(--secondary-white);
  text-decoration: none;
}

.menu .button {
  color: var(--primary);
  background: var(--secondary-white);

  margin-top: 4.8rem;
  margin-bottom: 8rem;
  padding: 1.6rem 3.2rem;

  border-radius: 4rem;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/* ============ Home ============================== */

header#home::before {
  background-color: var(--primary-light-01);

  content: "";

  width: 100%;
  height: calc(108rem + var(--nav-height));

  display: block;
  position: absolute;

  top: 0;
  left: 0;
  z-index: -99;
}

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home h1 {
  color: var(--secondary-headline);
  font-size: 3.4rem;
  line-height: 130%;
  margin-bottom: 2.4rem;
}

#home h4 {
  color: var(--primary);
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

#home p {
  color: var(--secondary-paragraph);
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom: 3.2rem;
}

#home button {
  color: var(--secondary-white);
  background-color: var(--primary);

  border: none;
  border-radius: 4rem;

  margin: 0 auto 6rem auto;

  height: 6.2rem;
  width: 26.3rem;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

#home img {
  display: block;
  margin: 0 auto;
  width: 26.4rem;
  object-position: 0 2rem;
}

#home .stats {
  background-color: var(--primary-cards);

  width: 32.7rem;

  margin-inline: auto;
  padding: 4rem 0;

  border-radius: 0.6rem;
  border: 1px solid var(--primary-light-01);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  color: var(--secondary-headline);

  font-size: 4.8rem;
  line-height: 130%;
}

#home .stat p {
  color: var(--primary);

  margin: 0;
  line-height: 150%;
}

/* ============ Services ============================== */

#services header h4 {
  color: var(--primary);

  margin-bottom: 1.6rem;

  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

#services header h2 {
  color: var(--secondary-headline);

  margin-bottom: 6rem;

  font-size: 3rem;
  line-height: 3.9rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  background: var(--secondary-white);

  border: 1px solid var(--primary-light-01);
  border-radius: 0.6rem;

  padding: 2.4rem;

  text-align: left;
}

#services .card h3 {
  margin-block: 1.6rem;
}
